@mixin btn-icons($image) {
  content: "";
  display: block;
  width: $base-line-height * 2;
  height: $base-line-height * 1.5;
  margin: 0 auto;
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  cursor: pointer;
  @media screen and (min-width: $break) {
    width: $base-line-height * 3;
    height: $base-line-height * 3;
    background-size: 65%;
  }
}

@mixin tech-icons($image) {
  content: "";
  display: inline-block;
  width: type-scale(1);
  height: type-scale(2);
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin vertical-rhythm($ratio: 0) {
  font-size: type-scale($ratio);
  line-height: line-height($ratio);
}
