    <section>
      <h2>Hello!</h2>
      <p>My name is Peter. I'm a web developer specialized in the presentation layer. I love constructing beautiful, efficient user experiences that feature accessible, scalable solutions. My home is working with both designers and back-end developers to create web experiences for *all* users.</p>
      <p>I enjoy continually learning, open communication, being a part of a team, and solving problems. My favorite tools are CSS pre-processors (I'm a <a href="http://www.sassmeister.com" target="_blank">Sassmeister</a>, semantic HTML5, JavaScript (<a href="http://babeljs.io/docs/learn-es2015" target="_blank">ES6</a>!), and the latest/greatest front-end web frameworks like AngularJS. Keeping my code clean and readable are among my highest priorities.</p>
      <p>Outside of code I enjoy writing music (currently a new String Quartet), spending time with my wife and labradoodle named <a href="https://twitter.com/PeterStrumolo/status/665652956679700480" target="_blank">Brie</a>, and going for long hikes with my micro four thirds camera.</p>
      <p>And I like espresso...a lot.</p>
    </section>
